<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Standings</title>
   </head>
   <body>
      
  {% extends 'News_page.html'%}
     {%block content%}
  
   <section id="featured" onclick="closeNav() ">
 
        <div class="container">
      <div class="row">
        <div class="span12">
          <div class="letter-container inner-heading">
            <h2 class="fade" >
            Standings</h2>
          </div>
        </div>
      </div>
    </div>
      
  </section>
		
<section onclick="closeNav()">
	<!-- Scores -->
	
  
  
      <div id="Scores" class="container-fluid">
  <h3> Premier League</h3>
    <table class="table" >
  <thead>
    <tr>
      <th>Team</th>
      <th>Pts</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      
    </tr>
  </thead>
  <tbody>
  	{% for scores in score %}
    <tr>
      <td scope="row">
      	<h5>
      	{{scores.home}}
      	</h5></td>
      <td>
      	<h5>
      	<a href="" class="link">{{scores.home_score}}-{{scores.away_score}}</a>
      	</h5>
      </td>
      <td>
      	<h5>
      	{{scores.away}}
      	</h5>
      	</td>
    </tr>
    {%endfor%}
  
   
  </tbody>
  
</table>

  </div>

</section>
   {% endblock %}
     
  
     
  
   </body>
</html>